@import url("https://fonts.googleapis.com/css2?family=Truculenta&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: steelblue !important;
  font-family: "Truculenta", sans-serif !important;
}


#main-content{
  width: 75%;
}

@media only screen and (max-width: 1024px){
  #main-content{
    width: 100%;
  }
}

#btn:active{
  background-color: cadetblue!important;
}